section{
    display: flex;
    flex-direction: column;
    margin: 60px;
    margin-left: 10%;
    
}
section header{
 margin-bottom: 40px;
 margin-left: 10px;
 color: var(--Marine-blue);

}

section input {
    width: 100%;
    height: 20px;
    border: 1px solid var(--Light-blue);
    padding: 10px;
}


label{
    margin: 10px;
    color: var(--Marine-blue);
}