
:root{
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
}


.ThankYour {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.ThankYour h1 {
    color: var(--Marine-blue);
}
.ThankYour p {
    text-align: center;
}


.ThankYour img {
    width: 100px;
    margin-bottom: 30px;
}