
*{
    padding: 0;
    margin: 0;
}
:root{
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
}

@font-face {
    font-family: 'Bold Ubuntu';
    src: url(/multi-step-form-main/assets/fonts/Ubuntu-Bold.ttf);
    font-weight:  700;
}

@font-face {
    font-family: 'Medium Ubuntu';
    src: url(/multi-step-form-main/assets/fonts/Ubuntu-Regular.ttf);
    font-weight:500;
}
@font-face {
    font-family: 'Regular Ubuntu';
    src: url(/multi-step-form-main/assets/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;  
    font-family: 'Regular Ubuntu';
    background-color: var(--Light-blue);


}
main {
    display: flex;
    width: 50vw;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.sidebar{
    position: relative;
}
.steps{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    align-items: stretch;
    margin-left: 30px;
    color: white;
   
}
 .buttons {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border-color: white;
    transition: 0.4s;
}
.buttons:active{
    background-color: aqua;
    color: black;
}
.step {
    display: flex;
    height: 70px;
    margin: 10px;
    
}
.stepText {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Regular Ubuntu';
}
.stepStage{
    font-size: 14px;

}
.NextStep{
    margin-left: 83%;
    margin-top: 100px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--Purplish-blue);
    color: white;
    font-family: 'Bold Ubuntu';
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Bold Ubuntu';
}